*.o
*.a
*.os
.sconsign.dblite
compile_commands.json
.cache
__pycache__
s.o.json
*.swp
a.out
.vscode
rs
.firebaserc
.firebase
.swo
.gradle
*.mp4
*.wasm
2L*js
sks
sksl/sksl
skv/skv
*.tar.xz
*.tar.gz
pd*js
pd/cpd
*.wav
2L/nd
ml/l
ml/ml
2L/vm.js
2L/babylon*
